<html>
<head>
    <title>Home: TODO by Diane and Hoang</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">


    <script type="text/javascript">
        function redicrect(link) {window.location.href=link;}
    </script>

    <script type="text/javascript">
        function changecolor(link) {window.location.href=link;}
    </script>


</head>
    <body>
        <p>Date/Time: <span id="datetime"></span></p>

        <script>
        var dt = new Date();
        document.getElementById("datetime").innerHTML = dt.toLocaleString();
        </script>
    <div class="container">
        <h2 class="display-2"> TODO - by Diane and Hoang</h2>
        <h5 class="display-5"> - better move yo ass as this is a capitalist society </h5>
        <h3 class="display-3"> Add new</h3>
            <form class="form-inline" method="POST" action="/">
                <div class="form-group">
                    <div class="input-group">
                        <input type="text" name="text" class="form-control" placeholder="Add a new TODO item">
                        <select class="form-select" name="priority" >
                            <option value="aHIGH">High</option>
                            <option value="bMEDIAN">Median</option>
                            <option value="cLOW">Low</option>
                        </select> 
                        <div class="input-group-appen" id="button-addon">
                            <button class="btn btn-outline-primary" type="submit" value="update">Add</button>
                        </div>
                    </div>
                </div>
            </form>
        <!--Todo Table-->

        <h3 class="display-3">Not done</h3>
        {% for item in items %}
            {% if item.done == false %}
      
                <div>
                    <form style="float: left;" method="POST" action="delete/{{item.id}}">
                        <button class="btn btn-outline-secondary" type="submit" value="update">Remove</button>
                    </form>
                    <form  method="POST" action="edit/{{item.id}}">
                        <div class="row">

      
                            <div class="col-auto my-1" id="button-addon">
                                <button type="submit" class="btn btn-primary mb-2">Submit</button>
                            </div>    

                            <div class="col-5" >
                                <label class="sr-only" for="task">Task</label>
    
                                {% if item.priority | to_string  =="0"  %}

                                    <input type="text" class="form-control" style="color:red" value="{{item.text}}" id="task" name="text" placeholder="Task">
                                {% elif item.priority | to_string  == "1" %}
                                    <input type="text" class="form-control" style="color:blue" value="{{item.text}}" id="task" name="text" placeholder="Task">
                                {%else %} 
                                    <input type="text" class="form-control" style="color:black" value="{{item.text}}" id="task" name="text" placeholder="Task">
                                {% endif %}
                            </div>                           

                            <div class="col"> 
                                <select class="selectpicker form-control" name="priority" title="{{item.priority}}" aria-placeholder="{{item.priority}}">
                                    <option value="aHIGH">High</option>
                                    <option value="bMEDIAN">Median</option>
                                    <option value="cLOW">Low</option>
                                </select>
                            </div>

                            <div class="col"> 
                                <div class="input-group mb-2 mr-sm-2">
                                    <div class="input-group-prepend">
                                        <div class="input-group-text">created: item.dateTime</div>
                                    </div>
                                </div>                               
                            </div>

                            <div class="col-auto my-1">
                                <div class="form-check">
                                  <input class="form-check-input" type="checkbox" id="autoSizingCheck2" name="done" value=1>
                                  <label class="form-check-label" for="autoSizingCheck2">
                                    Done?
                                  </label>
                                </div>
                            </div>
                          
                        </div>
                
                
                    </form>
                   
                </div>
       
            {% endif %}

        {% endfor %}


        <h3 class="display-3"> done</h3>
        {% for item in items %}
            {% if item.done == true %}
                <div>
                    <form style="float: left;" method="POST" action="delete/{{item.id}}">
                        <button class="btn btn-outline-secondary" type="submit" value="update">Remove</button>
                    </form>
                    <form  method="POST" action="edit/{{item.id}}">
                        <div class="row">

      
                            <div class="col-auto my-1" id="button-addon">
                                <button type="submit" class="btn btn-primary mb-2">Submit</button>
                            </div>    

                            <div class="col-5" >
                                <label class="sr-only" for="task">Task</label>
                                {% if item.priority | to_string== 0 %}

                                    <input type="text" class="form-control" style="color:red" value="{{item.text}}" id="task" name="text" placeholder="Task">
                                {% elif item.priority | to_string  == 1 %}
                                    <input type="text" class="form-control" style="color:blue" value="{{item.text}}" id="task" name="text" placeholder="Task">
                                {%else %} 
                                    <input type="text" class="form-control" style="color:black" value="{{item.text}}" id="task" name="text" placeholder="Task">
                                {% endif %}
                            </div>

                            <div class="col"> 
                                <select class="selectpicker form-control" name="priority" title="{{item.priority}}" aria-placeholder="{{item.priority}}">
                                    <option value="aHIGH">High</option>
                                    <option value="bMEDIAN">Median</option>
                                    <option value="cLOW">Low</option>
                                </select>
                            </div>

                            <div class="col"> 
                                <div class="input-group mb-2 mr-sm-2">
                                    <div class="input-group-prepend">
                                        <div class="input-group-text">created: {{item.dateTime}}</div>
                                    </div>
                                </div>                               
                            </div>

                            <div class="col-auto my-1">
                                <div class="form-check">
                                  <input class="form-check-input" type="checkbox" id="autoSizingCheck2" name="done" value=1 checked>
                                  <label class="form-check-label" for="autoSizingCheck2">
                                    Done?
                                  </label>
                                </div>
                            </div>
                          
                        </div>
                
                
                    </form>
                   
                </div>
            {% endif %}
        {% endfor %}

    
    </body>
</html>