<!doctype html>
<html>
    <head>
        <title>{{ title }} - Todo List</title>
    </head>
    <body>
        <h1>To-do List</h1>

        <br>

        <form action="/add" method="post">
        	<div>
        		<input type="text" name="todo" placeholder="To Do Item Text">
        		<button type="submit">Add</button>

        	</div>
        </form>

        <h2> To-do items </h2>
        <ul>
        {% for item in todo_list %}
            <li>{{ item }} <a href="/remove/{{item}}">remove</a> <a href="/complete/{{item}}">complete</a></li>
        {% endfor %}
        </ul>
        
        <h2> Completed items </h2>
        <ul>
        {% for item in accomplished_list %}
            <li>{{ item }}</li>
        {% endfor %}
        </ul>

    </body>
</html>