<html>
<head>
    <title>Home: TODO by Diane and Hoang</title>
    <link rel="stylesheet" 
    href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" 
    integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" 
    crossorigin="anonymous">

    <script type="text/javascript">
        function redicrect(link) {window.location.href=link;}
    </script>

    <script type="text/javascript">
        function changecolor(link) {window.location.href=link;}
    </script>


</head>
    <body>
        <p>Date/Time: <span id="datetime"></span></p>

        <script>
        var dt = new Date();
        document.getElementById("datetime").innerHTML = dt.toLocaleString();
        </script>
    <div class="container">
        <h2 class="display-2"> TODO </h2>
        <h5 class="display-5"> - better move yo ass as this is a capitalist society </h5>
        <h3 class="display-3"> Add new</h3>
            <form class="form-inline" method="POST" action="/">
                <div class="form-group">
                    <div class="input-group">
                        <input type="text" name="text" class="form-control" placeholder="Add a new TODO item">
                        <select class="form-select" name="priority" >
                            <option value="aHIGH">High</option>
                            <option value="bMEDIAN">Median</option>
                            <option value="cLOW">Low</option>
                        </select> 
                        <div class="input-group-appen" id="button-addon">
                            <button class="btn btn-outline-primary" type="submit" value="update">Add</button>
                        </div>
                    </div>
                </div>
            </form>
        <!--Todo Table-->

        <h3 class="display-3">Not done</h3>
        {% for item in items %}
             {% if item.done == false %}

                <p>
                    <label for="text-input">  created: {{item.dateTime}} </label>

                    <div class="input-group"> 
                        <form method="POST" action="edit/{{item.id}}">
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <div class="input-group-text">
                                        <input type="checkbox" onclick="redicrect('/edit/{{item.id}}')" data-target="/edit/{{item.id}}" name="done" id ="text-input">
                                    </div>
                                </div>
                                <input type="text" class="form-control" value="{{item.text}}" name="text">
                            </div>
                            <select class="selectpicker form-control" name="priority" onchange="redicrect('/priority/<item_id>')">
                                <option value="aHIGH">High</option>
                                <option value="bMEDIAN">Median</option>
                                <option value="cLOW">Low</option>
                            </select>
                            <div class="input-group-appen" id="button-addon4">
                                <button class="btn btn-outline-secondary" type="submit" value="update" name="text">Update</button>
                            </div>
                        </form>
                        <form method="POST" action="delete/{{item.id}}">
                            <button class="btn btn-outline-secondary" type="submit" value="update">Remove</button>
                        </form>
                    

                    
                    </div>
                </p>
            {% endif %}

        {% endfor %}


        <h3 class="display-3"> done</h3>
        {% for item in items %}
            {% if item.done == true %}
                <p>
                    <div class="input-group"> 
                        <form method="POST" action="edit/{{item.id}}">
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <div class="input-group-text">
                                        <input type="hidden" name="done" value="off" placeholder="{{item.dateTime}}" >
                                    </div>
                                </div>
                                <input type="text" class="form-control" title="{{item.dateTime}}" value="{{item.text}}" name="text">
                            </div>
                        </form>
                        <form method="POST" action="delete/{{item.id}}">
                            <button class="btn btn-outline-secondary" type="submit" value="update">Remove</button>
                        </form>
                        <form method="POST" action="priority/{{item.id}}">
                            <select class="selectpicker form-control" name="priority">
                                <option value="aHIGH">High</option>
                                <option value="bMEDIAN">Median</option>
                                <option value="cLOW">Low</option>
                            </select>
                            <div class="input-group-appen" id="button-addon4">
                                <button class="btn btn-outline-secondary" type="submit" value="update" name="text">Update</button>
                            </div>
                        </form>
                    </div>
                </p>
            {% endif %}
        {% endfor %}
    </div>
    </body>
</html>